<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <%= f.label :email %>:
    <%= f.text_field :email %>
    <%= f.label :password %>:
    <%= f.text_field :password %>
    <%= f.label :password_confirmation %>:
    <%= f.text_field :password_confirmation %>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
